.date
  = pretty_date(event.date)
%h1
  = event.title
.description
  != event.body
!= partial :ical_link
- with_presenter(event) do
  %em Who
  .presenter
    %strong Presented by
    = event.presenter_name
    .bio
      != event.presenter_bio
%em Where
.venue
  %strong= event.location_name
  = event.location_address
  %a{ :href => "http://maps.google.com/?q=#{ event.location_address}", :title => "Get directions" } Get Directions
