%h1= @event.title
- with_presenter(@event) do
  != precede "Presented by " do
    %strong= @event.presenter_name
!= @event.body
.event-date
  != succeed " @ " do
    = pretty_date(@event.date)
  = @event.location
  %a{ :href => "http://maps.google.com/?q=#{ @event.location_address}", :title => "Get directions" } Get Directions
- with_presenter(@event) do
  %h2
    != precede "About " do
      = @event.presenter_name
  = @event.presenter_bio

