!!!html
%html
  %head
    %title
      CleRB - The Cleveland Ruby Brigade - Home
    %meta(name="sitemap" content="#{base_url}/sitemap.xml")
    %link(href="/css/master.css" media="screen" rel="stylesheet" type="text/css")
    %link(href="#{base_url}/articles.xml" rel="alternate" type="application/atom+xml")
  %body
    %header
      .container
        != partial :nav
    #container
      #wrapper
        != yield
    %footer.row
      != partial :nav
      != partial :sponsors
    != partial :analytics
