.row
  .column
    .next-blurb At the next CleRb...
    %h2
      %a{:href => event.permalink, :title => event.title}= event.title

    .content
      - with_presenter(event) do
        %span.presenter
          != surround "Presented by ", "&ndash;" do
            %strong= event.presenter_name
      != event.blurb

.row
  .upcoming-events-teaser.column
    %a(href="/events") See all of our events
    != partial :ical_link
  .event-date.column
    %a.event-button{ :href => event.permalink, :title => event.title }
      != succeed " @ " do
        = pretty_date(event.date)
      = event.location_name
