%span At the next CleRB...
%h2
  %a{:href => event.permalink, :title => event.title}= event.title

!= precede "Presented by " do
  %strong= event.presenter_name
!= precede "&ndash; " do
  = event.blurb
.event-date
  != succeed " @ " do
    = pretty_date(event.date)
  = event.location_name
