.row
  .column
    .next-blurb At the next CleRb...
    %h2
      %a{:href => event.permalink, :title => event.title}= event.title

    .content
      %span.presenter
        != precede "Presented by " do
          %strong= event.presenter_name
      != precede "&ndash; " do
        = event.blurb

.row
  .event-date.column
    %a.event-button{ :href => event.permalink, :title => event.title }
      != succeed " @ " do
        = pretty_date(event.date)
      = event.location_name

.row.ical
  != partial :ical_link
