%h1
  %a{:href => post.url, :title => post.heading}= post.heading
- if !post.from.empty?
  .from
    != precede "From: " do
      != post.from
!= post.body
%a{:href => post.permalink, :title => post.heading, :class => "permalink"} permalink

- if post.comments_enabled?
  != partial :comments, :post => post


